version: '3'
services:
  bullletin-app:
    image: {{REGISTRY_URL}}/bulletin-app:{{TAG}}
    restart: always
    ports:
      - "127.0.0.1:{{APP_PORT}}:80"
    command: nginx -g 'daemon off;'
  
  bulletin-api:
    image: {{REGISTRY_URL}}/bulletin-api:{{TAG}}
    restart: always
    volumes:
      - db:/app/dist/db
      - logs:/app/logs
    ports:
      - "127.0.0.1:{{API_PORT}}:8000"
    environment:
      - "REGION_NAME=${BULLETIN_REGION_NAME}"    
      - "AWS_ACCESS_KEY_ID=${BULLETIN_AWS_ACCESS_KEY_ID}"    
      - "AWS_SECRET_ACCESS_KEY=${BULLETIN_AWS_SECRET_ACCESS_KEY}"

volumes:
  db:
  logs: