@font-face {
  font-family: 'geomanist';
  src: url(./assets/fonts/geomanist-regular-webfont.ttf);
}

@font-face {
  font-family: 'montserrat';
  src: url(./assets/fonts/montserrat/Montserrat-Regular.otf);
}

@font-face {
  font-family: 'montserrat-bold';
  src: url(./assets/fonts/montserrat/Montserrat-SemiBold.otf);
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url(./assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}

@font-face {
  font-family: 'IBMPlexSans-bold';
  src: url(./assets/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf);
}

body {
  color: rgb(90, 90, 90);
  background: #ffffff;
  font-family: 'IBMPlexSans';
  margin: 0px;
}

.logo-container {
  text-align: center;
}

.logo-container h1 {
  margin: 10px auto;
  font-size: 80px;
}

.logo-container img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.github-buttons-wrapper {
  padding: 20px;
  text-align: center;
}

.contributer-list {
  display: flex;
  justify-content: center;
  padding: 0 200px;
}

.contributer-item img {
  width: 80px;
  border-radius: 50%;
  height: 80px;
  border: 2px solid white;
  margin: 4px;
}

.section h2 {
  text-align: center;
}

.not-found-container {
  text-align: center;
}

.not-found-container .not-found-status {
  font-size: 100px;
}

.not-found-container .not-found-message {
  font-size: 60px;
}

.left-content {
  float: left;
}

.right-content {
  float: right;
}

.dashboard-text {
  color: white;
  display: block;
  width: 300px;
  font-size: 28px;
  font-weight: bold;
  padding: 5px;
}

.sidemenu-wrapper {
  width: 5%;
  height: 100vh;
  background-color: #4F4F4F;
  padding: 0px;
  position: relative;
}

.sidemenu-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.sidemenu-wrapper h3 {
  text-align: center;
  color: rgb(75, 196, 95);
}

.sidemenu-wrapper ul li span{
  text-decoration: none;
  text-align: center;
  display: block;
  cursor: pointer;
  display: table;
  margin: 0 auto;
  color: #4F4F4F
}

.main-container-wrapper {
  width: 95%;
}

.add-entry-form {
  width: 400px;
  font-family: 'IBMPlexSans';
}

.add-entry-form .form-group label {
  font-size: 12px;
  color: #95ACBC;
}

.add-entry-form .form-group input {
  background-color: #F6FBFF;
  border: 1px solid rgb(219, 225, 230); 
  box-shadow: none;
}

.add-entry-form Button {
  display: inline-block;
}

.add-entry-form button.cancel-button {
  color: gray;
}

.add-entry-form button.submit-button {
  border: none;
  background-color: #29CBE0; 
  color: white;
  margin-left: 20px;
}

.navbar {
  border-radius: 0px !important;
}

.container {
  width: 85% !important;
  padding-top: 40px;
}

.section .form-container {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 10px solid rgb(159, 184, 155);
  background-color: #ffffff;
}

.add-entry-heading {
  font-family: 'IBMPlexSans';
  font-size: 24px; 
}

.add-entry-button {
  background-color:#29CBE0;
  border: 1px solid #29CBE0;  
  margin-top: 20px;
  margin-bottom: 10px;
}

.add-entry-button:hover {
  background-color:#ffffff;
  color: rgb(44, 170, 187);
  border: 1px solid rgb(44, 170, 187);
}

.add-entry-button:hover  .ion-md-add{
  color: rgb(44, 170, 187) !important;
}

.add-entry-button:active, .add-entry-button:visited, .add-entry-button:focus,
.add-entry-form button.submit-button {
  background-color: #29CBE0 !important;
  border: 1px solid rgb(44, 170, 187);
}

.add-entry-button span{
  display: inline-block;
}

.add-entry-button span:last-child {
  margin-left: 10px;
}

.bulletin-table {
  width: 100%;
  display: block;
  font-family: "IBMPlexSans";
}

.table-row {
  border-radius: 3px;
  border: 2px solid #EFF5F9;
  background-color:#F6FBFF;  
  margin-bottom: 5px;  
}

.table-row div{
  display: inline-block;
  padding: 10px;

}
.table-head div {
  display: inline-block;
  padding: 10px;
  margin-bottom: 5px;  
}

.table-row .bulletin-drag-handle {
  width: 5%;
  border-right: 1px solid rgb(227, 236, 241);
  padding-left: 15px;
}

.bulletin-actions {
  border-left: 1px solid rgb(227, 236, 241);
}
.bulletin-table .table-head {
  font-size: 11px;
}

.bulletin-table .table-head .bulletin-drag-handle{
  border-right: none;  
  min-width: 5%;
}

.bulletin-table .table-head .bulletin-actions{
  border-left: none;  
} 

.bulletin-title {
  width: 20%;
}
.bulletin-owner {
  width: 13%;
}
.bulletin-duration {
  width: 10%;
}
.bulletin-toggle{
  width: 8%;
}
.bulletin-actions {
  width: 10%;
}
.bulletin-url{
  width: 32%;
}

.bulletin-url a {
  color: 	#29CBE0;
}

.bulletin-url a span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.bulletin-heading {
  font-family: 'IBMPlexSans-bold';
}

.edit-entry {
  padding: 0px !important;
}

.icon {
  font-size: 20px;
  color: #95ACBC;
}

.ion-md-create {
  margin-left: 5px;
  cursor: pointer;  
}

.ion-md-trash {
  margin-left: 15px;
  cursor: pointer;  
}

.ion-md-add {
  margin-left: 10px;
  color: white !important;
}
.ion-md-reorder {
  cursor: move;
}

.profile-name {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 25px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  font-family: 'IBMPlexSans';
}

.SortableHelperWithOverride {
  pointer-events: auto !important;
}

.sidemenu-bulletin-logo {
  background-color:#29CBE0;
}

.sidemenu-bulletin-logo img {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;  
}

.dashboard-header-wrapper {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(218, 218, 218);
  margin-bottom: 20px;
}

.priority-duration-wrapper .form-group{
  width: 48.5%;
  float: left;
}

.priority-duration-wrapper .form-group:nth-child(2) {
  margin-left: 3%;
}

.form-buttons-wrapper {
  clear: both;
  float: right;
}
.more-menu-wrapper {
  position: relative;
}

.more-menu {
  position: absolute;
  top: -25px;
  left: 40px;
}

.login-wrapper {
  height: 100vh;
  background-color: #F6FBFF;
}

.login-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-100%);
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 20px;
}

.login-button-style {
  font: 'IBMPlexSans';
  border: 1px solid firebrick;
  border-radius: 3px;
  padding: 5px 10px;
  background-color: #fff;
  color: firebrick;
  margin-top: 15px; 
}

.login-button-style:hover {
  background-color: firebrick;
  border: 1px solid firebrick;
  color: #fff;
}

img.bulletin-logo-big {
  display: block;
}

/*-----Toggle button style for active/inactive status-------*/

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  outline: none;
  margin-bottom: 0px;
}
.switch input {
  display: none;
}
div.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 17px;
  padding: 0;
}
div.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  padding: 0;
}
.switch input:checked + .slider {
  background-color: #2196F3;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/*-----END: Toggle button style for active/inactive status-------*/

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
